body            { font-family: sans-serif; background: #eee;margin-left: 160px; }
a, h1, h2       { color: #377BA8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

.page           { margin: 80px ; width: 80%; border: 5px solid black;border-radius: 15px;
                  padding: 15px; background: grey;color:black; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 20px; padding: 10px;
                  margin-bottom: 1em; }
.flash          { background: #CEE5F5; padding: 0.5em;align-items: right }
.error          { background: #F0D6D6; padding: 0.5em; }
