<!Doctype html>
<html>
  <head>
  <title>Contacts App | Created By Akshay</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <style>
  .right {
    position:absolute;
    right:0%;
}
body
{
  background-color: black;
}
.row
{
  padding:3%;
}
  </style>
  </head>
 <body>
 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Contacts App</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      {% if not session.logged_in %}
      <li><a href="/register">Login</a></li>
      
      {% else %}

      <li><a href="/new">Register</a></li>
      <li><a href="/list">list</a></li>
      <li class="right"><a href="{{ url_for('logout') }}">log out</a></li>
      {% endif %}
       
      <!--<li><a href="/register">admin</a></li>--> 
    </ul>
  </div>
</nav>
<!--{% for entry in entries %}
<div class="container" style="background-image:url({{ url_for('static', filename=entry['profile_pic'] ) }});width:790px;height:600px;position:absolute;left:0%;">

</div>

{% endfor %}
url({{ url_for('static', filename='user.jpg' ) }})
url('http://goo.gl/zDheEP')
-->
<div class="container" style="background-image:url({{ url_for('static', filename='coverpic.gif' ) }});width:790px;height:600px;position:absolute;left:0%;">
</div>

{% if not session.logged_in %}
<form method="post" action="/add_new_login">
<div class="container" style="width:450px;position:absolute;right:0%;background:white;">
<div class="row">
<h3>Sign up</h3>
</div>
<div class="row">
<label>Username</label>
</div>
<div class="row">
<input type="text" placeholder="Enter username..." required="true" name="username">
</div>
<div class="row">
<label>Password</label>
</div>
<div class="row">
<input type="password" placeholder="Enter password..." required="true" name="pwd">
</div>
<div class="row">
<label>profile photo</label>
</div>
<div class="row">
<input type="file" name="pic" accept="*.jpg" style="width:200px;height:50px">
</div>
<div class="row">
<input type="submit" value="Register" class="btn btn-primary">
</div>
</div>
</form>
{% endif %}

</body>
  </html>
  