<!doctype html>
<title>Contacts App</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-theme.css') }}">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Contacts App</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      {% if not session.logged_in %}
      <li><a href="/register">Login</a></li>
      {% else %}
      <li><a href="/new">Register</a></li>
      <li><a href="/list">list</a></li>
      {% endif %}
       
      <!--<li><a href="/register">admin</a></li>--> 
    </ul>
  </div>
</nav>
<div class="page">

  <h1>Contacts App</h1>
  <div class="metanav">
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}"></a>
  {% else %}
    <a href="{{ url_for('logout') }}"  class="btn btn-info">log out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
