{% extends "layout.html" %}
{% block body %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-theme.css') }}">
  <style>
    .row
    {
      padding : 0.5%;
    }
    body
    {
      background:black;
    }

  </style>
  <body>
  <div class="container">
  
  <div class="row">
  <h2>Login</h2>
  </div>
  {% if error %}<p class="error" style="width:900px;"><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('login') }}" method="post">
      <div class="row">
      <label>Username:</label>
      </div>
      <div class="row">
      <input type="text" name="username">
      </div>
      <div class="row">
      <label>Password:</label>
      </div>
      <div class="row">
      <input type="password" name="password">
      </div>
     <div class="row">
      <input type="submit" value="Login" class='btn-primary'>
      </div>
    
  </form>
  </body>

{% endblock %}

