{% extends "layout.html" %}
{% block body %}
<body style="background:blue;">
    <form action="{{ url_for('add_new_user') }}" method="post" class="add-entry">
      <div class="row">
        <div class="col-md-2">
          <i><p>Username:</p></i>
        </div>
        <div class="col-md-2">
          <input type="text" size="30" name="username">
        </div>
        </div>
        <div class="row">
        <div class="col-md-2">
          <i><p>Password:</p></i>
        </div>
        <div class="col-md-2">
          <input name="pwd" size="30" type="password">
        </div>
        </div>
        <div class="row">
        <div class="col-md-2">
        <input type="submit" value="Share">
        </div>
        </div>
    </form>
    </body>
    {% endblock %}