{% extends "layout.html" %}
{% block body %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-theme.css') }}">
  <style>
  
  h4
  {
    width:180px;
  }
  body
  {
    background: black;
  }
  #name
  {
    width:90px;
  }
  .container
  {
    margin:40px;
    padding:0.1%;
    width:800px;
    border:1px solid white;
  }
  .row
  {
    padding:1.5%;
  }
  
  </style>
  <body>
 <div class="container" style="width:900px;margin-left:40px;border:solid;border-width: 2px;border-color: white;
    border-radius: 15px;">
  <ul class="entries">
  {% for entry in entries %}
  <div class="row">
  <div class='col-md-3'>
  <a href="/user/{{ entry['name']}}" style="font-size:20px;" id="nam">{{entry['name']}}</a>
  </div>
  <div class='col-md-3'>
  <p style="font-size:20px;color :white;">{{entry['mobile']}}</p>
  </div>
  
  <div class='col-md-3'>
  <a href="/del/{{ entry['name'] }}" style="font-size:15px;" class="btn btn-danger">remove</a>
  </div>
  
  </div>
  {% else %}
  <div class="row">
  <div class="col-md-6">
    <li><em>Unbelievable.  No entries here so far</em>
  </li></div></div>
  {% endfor %}
  </ul>
  </div>
 
  </body>
{% endblock %}
