{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  <style>
  .row
  {
    padding:20px;
  }
  i
  {
    font-size:20px;
    font-color:white; 
  }

  body
  {
    background-color: black;
  }
  </style>
  <body>
  <div class="container" style="width:900px;margin-left:90px;border:solid;border-width: 2px;border-color: white;
    border-radius: 15px;">
  <ul class="entries">
  {% for entry in entries %}
  <div class="row">
  <div class='col-md-3'>
  <p style="font-size:20px;color :white;">{{entry['name']}}</p>
  </div>
  <div class='col-md-3'>
  <p style="font-size:20px;color :white;">{{entry['mobile']}}</p>
  </div>
  <div class='col-md-3'>
  <p style="font-size:20px;color :white;">{{entry['email']}}</p>
  </div>
  <div class='col-md-3'>
  <p style="font-size:20px;color :white;">{{entry['team_name']}}</p>
  </div>
  
  
  </div>
  {% else %}
  <div class="row">
  <div class="col-md-6" style="margin-left:30px;">
    <li><em>Unbelievable.  No entries here so far</em>
  </li></div></div>
  {% endfor %}
  </ul>
  </div>
  </body>
{% endif %}
{% endblock %}
