{% extends "layout.html" %}
{% block body %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-theme.css') }}">
  <head>
  <style>
  
  h4
  {
    width:180px;
  }
  #name
  {
    width:90px;
  }
  .row
  {
    padding:20px;
  }
  i
  {
    font-size:20px;
    font-color:white; 
  }

  body
  {
    background-color: black;
  }
  ul
  {

  
  }
  /* unvisited link */
a#nam:link {
    color: white;
}

/* visited link */
a#nam:visited {
    color: blue;
}

/* mouse over link */
a#nam:hover {
    color: #ff0040;
}

/* selected link */
a#nam:active {
    color: #ffbf00;
}
  </style>
  </head>
  <body>
  
  {% if session.logged_in %}

 <div class="container" style="width:1200px;">
    <body style="background:black;">
    <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
      <div class="row">
        <div class="col-md-2">
          <i><p>Name:</p></i>
        </div>
        <div class="col-md-2">
          <input type="text" size="30" name="name">
        </div>
        </div>
        <div class="row">
        <div class="col-md-2">
          <i><p>Mobile:</p></i>
        </div>
        <div class="col-md-2">
          <input name="mobile" size="30" type="number">
        </div>
        </div>
        <div class="row">
        <div class="col-md-2">
          <i><p>Email:</p></i>
        </div>
        <div class="col-md-2">
          <input name="email" type="email">
        </div>
        </div>
        <div class="row">
        <div class="col-md-2">
          <i><p>Team Name:</p></i>
        </div>
        <div class="col-md-2">
          <input type="text" name="team_name">
        </div>
        </div>
        <div class="row">
        <div class="col-md-2">
        <input class="btn btn-info" type="submit" value="Submit" style="text-align:center;">
        </div>
        </div>
      </div>
    </form>
    </body>
    </div>
  
  <div class="container" style="width:900px;margin-left:90px;border:solid;border-width: 2px;border-color: white;
    border-radius: 15px;">
  <ul class="entries">
  {% for entry in entries %}
  <div class="row">
  <div class='col-md-3'>
  <a href="/user/{{ entry['name']}}" style="font-size:20px;" id="nam">{{entry['name']}}</a>
  </div>
  <div class='col-md-3'>
  <p style="font-size:20px;color :white;">{{entry['mobile']}}</p>
  </div>
  
  <div class='col-md-3'>
  <a href="/delete/{{ entry['name'] }}" style="font-size:20px;" class="btn btn-danger">remove</a>
  </div>
  
  </div>
  {% else %}
  <div class="row">
  <div class="col-md-6" style="margin-left:30px;">
    <li><em>Unbelievable.  No entries here so far</em>
  </li></div></div>
  {% endfor %}
  </ul>
  </div>
  </body>
{% endif %}
{% endblock %}
